[submodule "components/esp32_ntp_clock"]
	path = components/esp32_ntp_clock
	url = https://github.com/v01dma1n/ESP32NTPClock2.git
[submodule "components/esp32_wifi"]
	path = components/esp32_wifi
	url = https://github.com/v01dma1n/ESP32WiFi2.git
